

.top__heade____r_{
    flex-grow: 1;
    width: 100%;
    width: 100vw !important;
    z-index: 1;
    margin-bottom: 20px;
    box-shadow: 0 3px 15px rgba(57,63,72,.1);
    max-height: 100vh;
    padding: 0 2rem;
    transition: .3s;
    background: #fff;
    height: 60px;
  }